:root {
    --color-fondo-menu: #a5cae7; /* Color de fondo del menú */
    --color-texto-menu: #13023b; /* Color de texto del menú */
    --color-texto-activo: #FFFFFF; /* Color de texto activo */
    --color-fondo-activo: #007bff; /* Color de fondo activo */
    --color-texto-enlace: #13023b; /* Color de texto de los enlaces */
    --color-texto-enlace-hover: #FFFFFF; /* Color de texto al pasar el mouse */
    --color-fondo-enlace-hover: #007bff; /* Color de fondo al pasar el mouse */
    --color-fondo-submenu: #6aa2f6; /* Color de fondo del submenú cuando está activo */
    --color-fondo-item: #e0f7fa; /* Color de fondo del item de la lista */
    --color-fondo-item-activo: #6aa2f6; /* Color de fondo del item de la lista cuando está activo */
}

.menu-fondo {
    background-color: var(--color-fondo-menu); /* Usar la variable de color de fondo */
    color: var(--color-texto-menu); /* Usar la variable de color de texto */
}

.menu-fondo a {
    color: var(--color-texto-enlace); /* Color de texto de los enlaces */
}

.menu-fondo a:hover {
    color: var(--color-texto-enlace-hover); /* Color de texto al pasar el mouse */
    background-color: var(--color-fondo-enlace-hover); /* Color de fondo al pasar el mouse */
}

/* Estilos para el acordeón */
.nested-nav {
    display: none; /* Ocultar inicialmente los submenús */
    background-color: var(--color-fondo-submenu); /* Color de fondo del submenú */
}

.active > .nested-nav {
    display: block; /* Mostrar el submenú si el padre está activo */
}

.active > .nested-nav {
    background-color: var(--color-fondo-submenu); /* Aplicar el color de fondo del submenú activo */
}

.list-group-item {
    background-color: var(--color-fondo-item); /* Usar la variable de color de fondo para el item de la lista */
}

.list-group-item.active {
    background-color: var(--color-fondo-item-activo); /* Usar la variable de color de fondo para el item de la lista activo */
}

.accordion-button {
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón del acordeón */
    color: var(--color-texto-menu); /* Color del texto del módulo por defecto */
    background-color: transparent; /* Fondo transparente por defecto */
}

.active > .accordion-button {
    color: var(--color-texto-activo); /* Cambia el color del texto al seleccionar */
    background-color: var(--color-fondo-activo); /* Cambia el color de fondo al seleccionar */
}

/* Otros estilos */
iframe {
    border: none;
    width: 100%; /* Ajustar el ancho según sea necesario */
    height: 600px;
}