.menu-fondo {
   /* width: 100%; /* establece un ancho del 50% del contenedor padre */
   /* height: 100%; /* establece un alto del 50% del contenedor padre */
  /*  max-width: 300px; /* establece un ancho máximo de 300px */
  /*  max-height: 400px; /* establece un alto máximo de 400px */
    background-color: #a5cae7; /* color de fondo */
    padding: 5px; /* espacio entre el contenido y el borde */
    border: 1px solid #444; /* borde */
    border-radius: 5px; /* esquinas redondas */
    color: #13023b; /* color de texto */
    font-size: 16px; /* tamaño de fuente */
  }
/* Style for the nested navigation when it's shown */
  .nested-nav.show {
   /* background-color: #f5f5f5; /* color de fondo */
    color: #333; /* color de texto */
  }

  /* Style for the nested navigation */
  .nested-nav {
    list-style-type: none;
    padding-left: 20px;
  }
  .nested-nav li {
    margin: 1px 0;
  }
  /* Style for the iframe */
  iframe {
    border: none;
    width: 100%; /* Adjust width as needed */
    height: 600px;
  }